
body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  width: 400px;
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #16a34a;
}

.vip-container {
  margin: 15px 0;
}

.vip-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  cursor: pointer;
}

.vip-label input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}